*{
	font-family: 'EB Garamond', serif;
	padding: 0;
	margin: 0;
	background-image: url(../images/p4n.jpg);
    background-size: cover;
	background-position: center no-repeat;
	color: white;
}

.container-fluid{
	background-image: none;
}

#list{
	background-image: none;
}

h1{
	margin: 40px;
	background-image: none;
}

#userinput{
	width: 350px;
	height: 35px;
	display: inline-block;
	font-weight: 500;
	background-image: none;
}

.btn{
	margin: 20px 5px;
	background-image: none;
}


.form-control{
	margin: 0 auto;
	background-image: none;
}

ul{
	list-style-type: none;
	background-image: none;
}

li {
	background-image: none;
	font-size: 1.5em;
	font-weight: 900;
}